/* Helpers */
.clear {
	clear: both;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Main */
#main {
	.show-on-scroll {
		max-height: 0px;
		padding: 0 1em;
		opacity: 0.25;
		overflow: hidden;
		@include vendor('transition', (
			'max-height #{_duration(intro)} ease-in-out 0s',
			'padding #{_duration(intro)} ease 0s',
			'opacity #{_duration(article)} ease-in-out 0s'
		));
		will-change: max-height, opacity;

	}

	.is-visible {
		max-height: 100%;
		opacity: 1;
	}
}

/* Timeline */
#timeline {
	.timeblock{
		height: 100vh;
		background-image: radial-gradient(rgba(160, 9, 9, 0.25) 25%, rgba(0,0,0,0) 55%);
		background-repeat: no-repeat;
		background-size: contain;
		background-position-y: center;

		&:after {
			clear:both;
		}
	}
	.event {
		width: 45%;

		.event-wrapper {
			display: block;
			border-top: solid _size(border-width) _palette(border);
			border-bottom: solid _size(border-width) _palette(border);
			padding: 2.5vh 0;

			.left, .right {
				width: 48%;
			}

			.year {
				font-size: 48px;
				line-height: 1;
				margin: 0;
				font-family: 'Avenir';
			}

			.desc {
				margin: 0;
			}

		}

		&:before, &:after {
			content: '';
			display: block;
			position: relative;
			left: calc(50% - #{_size(border-width) * 1});
			width: _size(border-width);
			background: _palette(border);
			height: 25vh;
			transition: opacity .3s .25s ease-out;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}

	.left {
		&:after {
			height: 45vh;
		}
	}
	.right {
		&:before {
			height: 45vh;
		}
	}

	#block-00 {
		background-image: url(../../images/block-00.png);
	}

	#block-01 {
		background-image: url(../../images/block-01.png);
	}

	#block-02 {
		background-image: url(../../images/block-02.png);
	}

	#block-03 {
		background-image: url(../../images/block-03.png);
	}

	#block-04 {
		background-image: url(../../images/block-04.png);
	}
	#block-05 {
		background-image: url(../../images/block-05.png);
	}
}